## Problem
## Questions
- What are the common causes of wildfires?
- frequency of fires between provinces
- What are the causes of the largest fires?
- correlation between the type of fire/cause and size of area burned

In [1]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install dbf

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [3]:
fire_pts = pd.read_csv('data/NFDB_point_txt/NFDB_point_20220901.txt', low_memory=False)
fire_pts.head()

,FID,SRC_AGENCY,FIRE_ID,FIRENAME,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,REP_DATE,ATTK_DATE,OUT_DATE,DECADE,SIZE_HA,CAUSE,PROTZONE,FIRE_TYPE,MORE_INFO,CFS_REF_ID,CFS_NOTE1,CFS_NOTE2,ACQ_DATE,SRC_AGY2,ECOZONE,ECOZ_REF,ECOZ_NAME,ECOZ_NOM
0,0,BC,1953-G00041,,59.963,-128.172,1953,5,26,1953-05-26 00:00:00,NaN,NaN,1950-1959,8.0,H,,Fire,,BC-1953-1953-G00041,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
1,1,BC,1950-R00028,,59.318,-132.172,1950,6,22,1950-06-22 00:00:00,NaN,NaN,1950-1959,8.0,L,,Fire,,BC-1950-1950-R00028,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
2,2,BC,1950-G00026,,59.876,-131.922,1950,6,4,1950-06-04 00:00:00,NaN,NaN,1950-1959,12949.9,H,,Fire,,BC-1950-1950-G00026,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
3,3,BC,1951-R00097,,59.760,-132.808,1951,7,15,1951-07-15 00:00:00,NaN,NaN,1950-1959,241.1,H,,Fire,,BC-1951-1951-R00097,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
4,4,BC,1952-G00116,,59.434,-126.172,1952,6,12,1952-06-12 00:00:00,NaN,NaN,1950-1959,1.2,H,,Fire,,BC-1952-1952-G00116,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale

In [11]:
fire_pts.shape

(423831, 27)

In [4]:
fire_pts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423831 entries, 0 to 423830
Data columns (total 27 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FID         423831 non-null  int64
 1   SRC_AGENCY  423831 non-null  object
 2   FIRE_ID     423666 non-null  object
 3   FIRENAME    423830 non-null  object
 4   LATITUDE    423831 non-null  float64
 5   LONGITUDE   423831 non-null  float64
 6   YEAR        423831 non-null  int64
 7   MONTH       423831 non-null  int64
 8   DAY         423831 non-null  int64
 9   REP_DATE    420118 non-null  object
 10  ATTK_DATE   28740 non-null   object
 11  OUT_DATE    213092 non-null  object
 12  DECADE      423831 non-null  object
 13  SIZE_HA     423831 non-null  float64
 14  CAUSE       423590 non-null  object
 15  PROTZONE    422821 non-null  object
 16  FIRE_TYPE   423831 non-null  object
 17  MORE_INFO   423831 non-null  object
 18  CFS_REF_ID  423831 non-null  object
 19  CFS_NOTE1   423831 non-null  object
 20  CFS_NOTE2   423831 non-null  object
 21  ACQ_DATE    413226 non-null  object
 22  SRC_AGY2    423831 non-null  object
 23  ECOZONE     423831 non-null  int64
 24  ECOZ_REF    423831 non-null  object
 25  ECOZ_NAME   423831 non-null  object
 26  ECOZ_NOM    423831 non-null  object
dtypes: float64(3), int64(5), object(19)
memory usage: 87.3+ MB

In [43]:
fire_pts.describe()

,FID,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,SIZE_HA,ECOZONE
count,423831.000000,423831.000000,423831.000000,423831.000000,423831.000000,423831.000000,4.238310e+05,423831.000000
mean,211915.000000,51.895936,-104.253547,1990.464784,6.585818,15.441048,3.162710e+02,9.376594
std,122349.615308,4.467770,20.412661,47.872423,1.675279,8.983980,5.617050e+03,3.631528
min,0.000000,0.000000,-166.044000,-999.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,105957.500000,49.133700,-120.112350,1979.000000,5.000000,8.000000,1.000000e-01,6.000000
50%,211915.000000,51.023000,-114.503000,1991.000000,7.000000,15.000000,1.000000e-01,9.000000
75%,317872.500000,54.630289,-88.303603,2005.000000,8.000000,23.000000,1.000000e+00,14.000000
max,423830.000000,70.000000,116.188000,2021.000000,12.000000,31.000000,1.050000e+06,15.000000

In [37]:
# missing data
fire_pts.isnull().sum()

FID                0
SRC_AGENCY         0
FIRE_ID          165
FIRENAME           1
LATITUDE           0
LONGITUDE          0
YEAR               0
MONTH              0
DAY                0
REP_DATE        3713
ATTK_DATE     395091
OUT_DATE      210739
DECADE             0
SIZE_HA            0
CAUSE            241
PROTZONE        1010
FIRE_TYPE          0
MORE_INFO          0
CFS_REF_ID         0
CFS_NOTE1          0
CFS_NOTE2          0
ACQ_DATE       10605
SRC_AGY2           0
ECOZONE            0
ECOZ_REF           0
ECOZ_NAME          0
ECOZ_NOM           0
dtype: int64

The year, month, and day columns does contain some missing/unknown values. An overview of the summary statistics show minimum values which are not possible for date type data. The [NFDB documentation]('/data/NFDB_point_txt/NFDB_point_20220901_shapefile_metadata.pdf') notes that unknown years are recorded with '-999'. Similarly, the value '0' is outside the range of possible months or days.

In [48]:
# actual number of missing dates
for col in ['YEAR', 'MONTH', 'DAY']:
    print(f'{col}\t {fire_pts[fire_pts[col] <= 0][col].count()}')

YEAR 	 95
MONTH 	 3391
DAY 	 3713

In [40]:
for col in fire_pts.select_dtypes(include=['object']).columns:
    print(f'{col}: {fire_pts[col].unique()}\n')

SRC_AGENCY: ['BC' 'AB' 'SK' 'MB' 'ON' 'QC' 'NL' 'NB' 'NS' 'YT' 'NT' 'PC-NA' 'PC-WB'
 'PC-VU' 'PC-BA' 'PC-EI' 'PC-WP' 'PC-JA' 'PC-PA' 'PC-GL' 'PC-KO' 'PC-RE'
 'PC-BT' 'PC-YO' 'PC-RM' 'PC-GF' 'PC-GR' 'PC-WL' 'PC-FR' 'PC-PU' 'PC-KG'
 'PC-LM' 'PC-CB' 'PC-PE' 'PC-BP' 'PC-TI' 'PC-SL' 'PC-KE' 'PC-PP' 'PC-SY'
 'PC-SE' 'PC-NC' 'PC-KL' 'PC-RE-GL' 'PC-GM' 'PC-PR' 'PC-TN' 'PC-GI'
 'PC-FW' 'PC-FO' 'PC-GB' 'PC-LO' 'PC-RO' 'PC-FU' 'PC-MM' 'PC-TH']

FIRE_ID: ['1953-G00041' '1950-R00028' '1950-G00026' ... '2021WB002' '2021WB003'
 '2021WP001']

FIRENAME: [' ' 'DA3002' 'DA3003' ... 'Y-camp guard (Maskinonge 2)'
 'Bertha trailhead powerline' 'WAP 24 pond fire / WNP-21-001']

REP_DATE: ['1953-05-26 00:00:00' '1950-06-22 00:00:00' '1950-06-04 00:00:00' ...
 '2021-03-08 00:00:00' '2021-11-30 00:00:00' '2021-03-04 00:00:00']

ATTK_DATE: [nan '1983-05-26 00:00:00' '1983-06-19 00:00:00' ... '2021-10-24 00:00:00'
 '2021-10-27 00:00:00' '2021-10-30 00:00:00']

OUT_DATE: [nan '1983-05-26 00:00:00' '1983-06-19 00:00:00' ... '2008-12-05 00:00:00'
 '2008-12-04 00:00:00' '2008-04-06 00:00:00']

DECADE: ['1950-1959' '1960-1969' '1970-1979' '1980-1989' '1990-1999' '2000-2009'
 '1930-1939' '2010-2019' '2020-2029' '1940-1949']

CAUSE: ['H' 'L' 'U' 'RE' 'H-PB' nan]

PROTZONE: [' ' 'EXT' 'Intensive' 'W (Observation Zone)' 'G (Low Priority)'
 'R (High Priority)' 'Y (Moderate Priority)' nan 'MOD' 'MON' 'FUL' 'MDP'
 'SUP' 'MNP' 'nordique' 'Nordique' 'intensive' 'ActionCode: 1'
 'ActionCode: 2' 'FullResponse' 'Wilderness (forested)' 'Full' 'Critical'
 'Strategic' 'Wilderness FMZ' 'Stratigic FMZ' 'Critical FMZ'
 'Transition FMZ' 'Full FMZ' 'Transitional' 'Initial Attack'
 'Being Monitored' 'Sustained Action' 'Limited Action' 'Delayed Action'
 'Monitored' 'Abandoned' 'Modified Response' 'Full Response'
 'Prescribed Fire' 'Monitored Response']

FIRE_TYPE: ['Fire' 'Ground' 'Surface' ' ' 'Crown' 'Wildfire' 'Mutual Aid'
 'Req For Assist' 'Request For Ass*' 'IFR' 'Prescribed Burn' 'OFR' 'PB'
 '1' '2' '4' '3' 'Forest' 'Other' 'Grass' 'Dump' 'Type 5' 'Type 4'
 'Type 3' 'Type 2' 'Type 1']

MORE_INFO: [' '
 'Note that BC FIRE_ID includes the fiscal year in which fire is reported'
 'fueltype: C2' ... 'More than 70 mm of rain since last day of ingnition.'
 'Contain to building and 20 meters radius in lawn'
 'AreaConfidence: Initial Estimate / Holdover fire']

CFS_REF_ID: ['BC-1953-1953-G00041' 'BC-1950-1950-R00028' 'BC-1950-1950-G00026' ...
 'PC-WL-2021-2021WL002' 'PC-WL-2021-2021WL003' 'PC-WP-2021-2021WP001']

CFS_NOTE1: [' ' 'chk year' ' Assessment date n/a' 'chk pnt poly ref'
 'multiple fire id. added unique id to CFS_REF_ID'
 'multiple fire id. ref to poly for CFS_REF_ID'
 'chk year and outdate year' 'used firepoly centroid for MB 2000-2004'
 'used firepoly centroid - coords n/a at time of up*'
 'location not ignition - coords derived from poly'
 'src lat/lon coords outside agency boundary' 'merged with orig src'
 'point location calculated from poly data in GIS'
 'coords provided as attributes in polydata' 'CauseCode2' 'CauseCode1'
 'verify fireid' 'Verify fireid. Src fire_num: 19'
 'Verify fireid. Src fire_num: 2' 'Verify fireid. Src fire_num: 1'
 'Verify fireid. Src fire_num: 9' 'Verify fireid. Src fire_num: 12'
 'Verify fireid. Src fire_num: 7' 'Verify fireid. Src fire_num: 5'
 'Verify fireid. Src fire_num: 8' 'Verify fireid. Src fire_num: 4'
 'Verify fireid. Src fire_num: 3' 'Verify fireid. Src fire_num: 10'
 'Verify fireid. Src fire_num: 13' 'Verify fireid. Src fire_num: 15'
 'Verify fireid. Src fire_num: 17' 'Verify fireid. Src fire_num: 6'
 'Verify fireid. Src fire_num: 14' 'Verify fireid. Src fire_num: 16'
 'Verify fireid. Src fire_num: 18' 'Verify fireid. Src fire_num: 22'
 'Verify fireid. Src fire_num: 27' 'Verify fireid. Src fire_num: 34'
 'Verify fireid. Src fire_num: 31' 'Verify fireid. Src fire_num: 11'
 'Verify fireid. Src fire_num: 21' 'Verify fireid. Src fire_num: 24'
 'Verify fireid. Src fire_num: 39' 'Verify fireid. Src fire_num: 25'
 'Verify fireid. Src fire_num: 26' 'Verify fireid. Src fire_num: 28'
 'Verify fireid. Src fire_num: 29' 'Verify fireid. Src fire_num: 33'
 'Verify fireid. Src fire_num: 23' 'Verify fireid. Src fire_num: 37'
 'Verify fireid. Src fire_num: 35' 'Verify fireid. Src fire_num: 20'
 'Verify fireid. Src fire_num: 30' 'Verify fireid. Src fire_num: 36'
 'Verify fireid. Src fire_num: 38' 'Verify fireid. Src fire_num: 32'
 'location extracted from polygon data' 'lat/long coords n/a'
 'Exact year of fire unknown. Refer to decade' 'altered coord'
 'orig parks data: lat 106.6, lon 53.7. CFS edited'
 'suspect incorrect coord - try 53.xxx'
 'cfs modified coords. errors in src data'
 'lat/long values appear to be rounded off' 'suspect incorrect coords'
 'switched lat/long coords' 'moved coord decimal place']

CFS_NOTE2: [' ' 'day n/a from src' 'removed duplicate' 'ActionCode2' 'ActionCode1'
 'area calculated from poly data in GIS' 'chk fireids for multipart'
 'verify fireid' 'removed nfdb duplicate'
 'Exact year of fire unknown. Refer to decade'
 'Note that src coordinates outside Park/agency boundary'
 'moved coord decimal place' 'cfs modified coords. errors in src data'
 'switched lat/long coord - still incorrect loc'
 'moved point to park - est coord'
 'switched lat/long coords - suspect rounded int']

ACQ_DATE: ['2020-05-05 00:00:00' '2021-04-12 00:00:00' '2022-04-11 00:00:00'
 '2020-06-01 00:00:00' '2008-11-12 00:00:00' '2016-09-22 00:00:00'
 '2021-04-15 00:00:00' '2022-04-19 00:00:00' '2020-04-03 00:00:00' nan
 '2022-02-25 00:00:00' '2021-05-31 00:00:00' '2016-02-09 00:00:00'
 '2019-03-22 00:00:00' '2008-07-24 00:00:00' '2009-07-06 00:00:00'
 '2011-08-24 00:00:00' '2012-08-29 00:00:00' '2010-04-09 00:00:00'
 '2013-04-15 00:00:00' '2014-06-17 00:00:00' '2015-05-25 00:00:00'
 '2018-05-18 00:00:00' '2020-01-16 00:00:00' '2017-01-27 00:00:00'
 '2022-06-15 00:00:00' '2008-07-23 00:00:00' '2011-10-19 00:00:00'
 '2019-04-29 00:00:00' '2018-05-07 00:00:00' '2016-06-23 00:00:00'
 '2008-06-19 00:00:00' '2012-03-15 00:00:00' '2014-04-17 00:00:00'
 '2015-04-22 00:00:00' '2013-03-11 00:00:00' '2017-05-08 00:00:00'
 '2020-06-15 00:00:00' '2019-05-01 00:00:00' '2022-04-21 00:00:00'
 '2021-06-08 00:00:00' '2017-06-27 00:00:00' '2018-03-15 00:00:00'
 '2007-10-24 00:00:00' '2013-06-28 00:00:00' '2020-08-18 00:00:00'
 '2011-02-02 00:00:00' '2014-06-24 00:00:00' '2015-08-17 00:00:00'
 '2019-07-05 00:00:00' '2022-05-10 00:00:00' '2011-09-02 00:00:00'
 '2019-05-17 00:00:00' '2014-12-17 00:00:00' '2018-08-21 00:00:00'
 '2020-08-20 00:00:00' '2021-09-16 00:00:00' '2022-08-11 00:00:00'
 '2019-05-06 00:00:00' '1899-12-30 00:00:00' '2013-04-18 00:00:00'
 '2020-06-14 00:00:00' '2016-06-14 00:00:00' '2017-05-09 00:00:00'
 '2018-06-21 00:00:00' '2021-06-10 00:00:00' '2022-03-23 00:00:00'
 '2021-04-27 00:00:00' '2016-06-16 00:00:00' '2020-05-12 00:00:00'
 '2018-06-14 00:00:00' '2022-04-12 00:00:00' '2020-11-17 00:00:00'
 '2020-05-04 00:00:00' '2019-04-26 00:00:00' '2018-06-15 00:00:00'
 '2022-04-05 00:00:00' '2019-05-02 00:00:00' '2008-08-19 00:00:00'
 '2008-11-13 00:00:00' '2013-04-17 00:00:00' '2017-05-11 00:00:00'
 '2018-05-22 00:00:00' '2020-04-22 00:00:00' '2012-11-22 00:00:00'
 '2016-06-20 00:00:00' '2014-01-31 00:00:00' '2015-06-18 00:00:00'
 '2010-11-25 00:00:00' '2021-05-27 00:00:00' '2022-03-21 00:00:00']

SRC_AGY2: ['BC' 'AB' 'SK' 'MB' 'ON' 'QC' 'NL' 'NB' 'NS' 'YT' 'NT' 'PC']

ECOZ_REF: ['12' '4' '13' '9' '14' '10' ' ' '5a' '6a' '6b' '15' '8' '5b' '7' '2' '11'
 '3']

ECOZ_NAME: ['Boreal Cordillera' 'Taiga Plain' 'Pacific Maritime' 'Boreal PLain'
 'Montane Cordillera' 'Prairie' ' ' 'Taiga Shield West'
 'Boreal Shield West' 'Boreal Shield East' 'Hudson Plain'
 'MixedWood Plain' 'Taiga Shield East' 'Atlantic Maritime'
 'Northern Arctic' 'Taiga Cordillera' 'Southern Arctic']

ECOZ_NOM: ['CordillCre boreale' 'Taiga des plaines' 'Maritime du Pacifique'
 'Plaines bornales' 'Cordill re montagnarde' 'Prairies' ' '
 'Taiga du Bouclier' 'Bouclier bordal' 'Plaines hudsonniennes'
 'Plaines d forits mixtes' "Maritime de l'Atlantique" 'Haut-Arctique'
 'Taiga de la Cordill' 'Bas-Arctique']